@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel&display=swap');

/* ####################################################################### */

        /* === CSS RESET === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /* === END OF CSS RESET === */
/* ####################################################################### */

        /* === CSS VARIABLE SETUP === */
:root {
    --slantedText: 'Grand Hotel', cursive;
    --primaryColor: #698f3f;
    --secondaryColor: #fca311;
    --mainDark: #3a3e3b;
    --mainWhite: #ffffff;
    --mainGrey: #e5e5e5;
    --mainTransition: all 0.3s ease-in-out;
    --letterSpacing: 0.5rem;
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
}
        /* === END OF CSS VARIABLE SETUP === */
/* ####################################################################### */

        /* === HELPER/UTILITY CLASSES === */
a {
    text-decoration: none;
}
        /* === END OF HELPER/UTILITY CLASSES === */
/* ####################################################################### */

        /* CLEARFIX */
.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}
        /* END OF CLEARFIX */
/* ####################################################################### */

        /* GLOBAL STYLE */
.section-center {
    padding: 4rem 0;
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    font-size: 2rem;
}

.section-subtitle {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--primaryColor);
    font-family: var(--slantedText);
    letter-spacing: var(--letterSpacing);
}

.text-white {
    color: var(--mainWhite);
}

.text-primary {
    color: var(--primaryColor);
}

        /* END OF GLOBAL STYLE */
/* ####################################################################### */
        
        /* NAVBAR */
.nav-btn {
    position: fixed;
    z-index: 1;
    margin: 1rem 1.5rem;
    top: 0;
    left: 0;
    color: var(--primaryColor);
    font-size: 2rem;
    animation: bounce 2s ease-in-out infinite;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--mainGrey);
    padding-top: 1rem;
    padding-left: 2rem; 
    transition: var(--mainTransition);
    transform: translateX(-100%);
}

.showNav {
    transform: translateX(0);
}

.nav-close {
    font-size: 2rem;
    cursor: pointer;
    transition: var(--mainTransition);
}

.nav-close:hover {
    color: var(--primaryColor);
}

.nav-items {
    list-style-type: none;
    text-transform: uppercase;
}

.navlink {
    display: block;
    color: var(--primaryColor);
    transition: var(--mainTransition);
    margin-top: 1.5rem;
    font-weight: bold;
}

.navlink:hover {
    color: var(--mainDark);
    padding-left: 0.7rem;
}

@media screen and (min-width: 650px) {
    .navbar {
        width: 30vw;
        max-width: 200rem;
    }
}
        /* END OF NAVBAR */
/* ####################################################################### */

        /* === HEADER STYLE === */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('img/main-bcg.jpeg') center/cover no-repeat;
    position: relative;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    letter-spacing: var(--letterSpacing);
}

.banner-subtitle {
    font-size: 2rem;
    font-family: var(--slantedText);
    color: var(--primaryColor);
    animation: fromRight 5s ease 1;
}

.banner-title {
    text-transform: uppercase;
    font-size: 3.2rem;
    margin-top: 2.5rem;
    line-height: 1.3;
    color: var(--mainWhite);
    animation: fromLeft 5s ease 1;
}

.main-btn,
.banner-btn {
    display: inline-block;
    background-color: var(--primaryColor);
    color: var(--mainDark);
    text-transform: uppercase;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    outline: 0.2rem solid var(--primaryColor);
    outline-offset: 4px;
    margin-top: 2rem;
    cursor: pointer;
    transition: var(--mainTransition);
}

.main-btn:hover,
.banner-btn:hover {
    color: var(--mainWhite);
    opacity: 0.7;
}

.banner-btn {
    padding: 1.2rem 1.5rem;
    /*ANIMATION*/
    animation: shows 5s ease-in-out 1;
}
        /* === END OF HEADER STYLE === */
/* ####################################################################### */

        /* === ANIMATION === */
@keyframes shows {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(400px);
    }
    50% {
        transform: translateX(-200px);
    }
    75% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(-400px);
    }
    50% {
        transform: translateX(200px);
    }
    75% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}
        /* === END OF ANIMATION === */
/* ####################################################################### */

        /* CONTENT DEVIDER */
    .content-devider {
        height: 0.5rem;
        background-color: linear-gradient(
            to left,
            var(--primaryColor),
            var(--secondaryColor), 
            var(--primaryColor)
        );
        background: linear-gradient(to left, 
            var(--primaryColor), 
            var(--secondaryColor), 
            var(--primaryColor)
        );
    }
        /* END OF CONTENT DEVIDER */
/* ####################################################################### */

        /* SKILLS */
.skills {
    background-color: var(--mainGrey);
}

.skill {
    text-align: center;
    padding: 2.5rem 0;
    transition: var(--mainTransition);
}

.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    transition: var(--mainTransition);
    display: inline-block;

}

.skill-title {
    text-transform: uppercase;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 1.5rem;

}

.skill-text {
    max-width: 13rem;
    margin: 0 auto;
}

.skill:hover {
    background-color: var(--primaryColor);
}

.skill:hover .skill-title {
    color: var(--mainWhite);
}

.skill:hover .skill-icon {
    transform: translateY(-0.5rem);
}

@media screen and (min-width: 576px) {
    .skill {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 950px) {
    .skill {
        width: 25%;
    }
}
        /* END OF SKILLS */
/* ####################################################################### */

        /* ABOUT */

.about-img,
.about-info {
    padding: 2rem 0;
}

.about-picture-container {
    background-color: var(--primaryColor);
    border: 0.5rem solid var(--primaryColor);
    border-radius: 1.5rem;
    overflow: hidden;
}

.about-picture {
    width: 100%;
    display: block;
    transition: var(--mainTransition);
}

.about-picture-container:hover .about-picture {
    opacity: 0.5;
    transform: scale(1.2);
}

.about-text {
    margin: 1rem 0;
    max-width: 26rem;
}

@media screen and (min-width: 992px) {
    .about-img,
    .about-info {
        float: left;
        width: 50%;
        padding: 2rem;
    }
}
        /* END OF ABOUT */
/* ####################################################################### */

        /* PRODUCTS */
.products {
    background-color: var(--mainDark);
}

.product-info,
.product-inventory {
    padding: 2rem 0;
}

.product-text {
    margin: 1rem 0;
    max-width: 26rem;
}

.products {
    margin: 2rem 0;
}

.product-image {
    width: 100%;
    border-radius: 0.4rem;
    display: block;
    margin-bottom: 2rem;
}

.product-title {
    color: var(--mainWhite);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
    margin-bottom: 1rem;
}

.product-price {
    color: var(--primaryColor);
    font-family: var(--slantedText);
    letter-spacing: var(--letterSpacing);
}

@media screen and (min-width: 700px) {
    .product {
        float: left;
        width: 50%;
        padding: 2rem 1rem;
    }
    .product-info {
        padding: 2rem 1rem; 
    }
}

@media screen and (min-width: 900px) {
    .product {
        width: 33.33%;
    }
}

@media screen and (min-width: 1200px) {
    .product-info {
        float: left;
        width: 30%
    }
    .product-inventory {
        float: left; 
        width: 70%;
    }
}
        /* END OF PRODUCTS */
/* ####################################################################### */

        /* CONTACT */
.contact {
    padding-top: 2rem;
}

.contact-item {
    margin-bottom: 3rem;
}

.contact-title {
    text-transform: uppercase;
    color: var(--primaryColor);
    font-family: var(--slantedText);
    letter-spacing: calc(var(--letterSpacing) * 2);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-text {
    text-transform: uppercase;
}

.form-control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primaryColor);
    outline: none;
    padding: 1.3rem 0;
    font-weight: bold;
    font-size: 0.8rem;
}

.form-control::placeholder {
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
    color: var(--primaryColor);
    font-family: 'Catamaran', sans-serif;
}

@media screen and (min-width: 992px) {
    .contact-info,
    .contact-form {
        float: left;
        width: 50%;
        padding: 0 1rem;
    }
}
        /* END OF CONTACT */
/* ####################################################################### */

        /* FOOTER */        
.footer {
    background-color: var(--mainDark);
    text-align: center;
}

.social-icon {
    color: var(--mainWhite);
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: var(--mainTransition);
}

.social-icon:hover {
    color: var(--primaryColor);
}

.footer-text {
    color: var(--mainWhite);
    letter-spacing: var(--letterSpacing);
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 0.8rem;
}
        /* END OF FOOTER */
/* ####################################################################### */